* {
  background-color: #222222;
  color: aliceblue;
}

.page-not-found {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  margin-top: 15px;
}

.view-btn-on-homepage {
  background-color: #0d6efd;
  color: #ffffff;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  margin-right: 7px;
  display: inline-block;
  border-radius: 5px;
}

.view-btn-on-homepage:hover {
  color: #ffffff;
}

.update-btn-on-homepage {
  background-color: #6610f2;
  color: #ffffff;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  margin-right: 7px;
  display: inline-block;
  border-radius: 5px;
}

.update-btn-on-homepage:hover {
  color: #ffffff;
}

.delete-btn-on-homepage {
  background-color: #dc3545;
  color: #ffffff;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.delete-btn-on-homepage:hover {
  color: #ffffff;
}

.create-user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.form-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #36454f;
  padding: 50px;

  box-shadow: 0 0 10px #888888;
  -moz-box-shadow: 0 0 10px #888888;
  -webkit-box-shadow: 0 0 10px #888888;
  -o-box-shadow: 0 0 10px #888888;
}

.input-fields {
  margin-bottom: 15px;
  padding-right: 200px;
  padding-top: 10px;
  background-color: #343434;
  color: #ffffff;
  border-radius: 7px;
}

.view-form-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;

  box-shadow: 0 0 10px #888888;
  -moz-box-shadow: 0 0 10px #888888;
  -webkit-box-shadow: 0 0 10px #888888;
  -o-box-shadow: 0 0 10px #888888;
}

.user-info-h1 {
  text-align: center;
  color: #0d6efd;
}
